@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    min-height: 100vh;
    background: #0c192c;
    font: normal 'Berkshire Swash', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    background: #4fc3dc;
    margin: 0 0.25rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0.625rem #4fc3dc40,
    0 0 3.125rem #4fc3fc,
    0 0 6.25rem #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(2n){
    background: #ff2d75;
    box-shadow: 0 0 0 0.625rem #ff2d7540,
                0 0 3.125rem #ff2d75,
                0 0 6.25rem #ff2d75;
}

.bubbles span:nth-child(3n){
    background: #edfd5f;
    box-shadow: 0 0 0 0.625rem #edfd5f40,
                0 0 3.125rem #edfd5f,
                0 0 6.25rem #edfd5f;
}

@keyframes animate{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}

.text {
    color: #ffffff;
    margin-top: 18.75rem;
    text-align: center;
    display: block;
}

.text h1{
    font: normal 50px 'Berkshire Swash', sans-serif;
}

.text h2{
    font: normal 30px 'Berkshire Swash', sans-serif;
    text-decoration: none;
}

/* @media screen and (min-width: 1500px){
    .container{
        position: relative;
        width: 30px;
        height: 30px;
        overflow: hidden;
    }
    
    .bubbles span{
        position: relative;
        width: 30px;
        height: 30px;
        background: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #4fc3dc40,
        0 0 50px #4fc3fc,
        0 0 100px #4fc3dc;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
    }
} */

/* @media screen and (min-width: 992px){
    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .bubbles{
        position: relative;
        display: flex;
    }
    .bubbles span{
        position: relative;
        width: 25px;
        height: 25px;
        background: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 8px #4fc3dc40,
        0 0 42px #4fc3fc,
        0 0 83px #4fc3dc;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
    }
    .bubbles span:nth-child(2n){
        background: #ff2d75;
        box-shadow: 0 0 0 8px #ff2d7540,
                    0 0 42px #ff2d75,
                    0 0 83px #ff2d75;
    }
    .bubbles span:nth-child(3n){
        background: #edfd5f;
        box-shadow: 0 0 0 8px #edfd5f40,
                    0 0 42px #edfd5f,
                    0 0 83px #edfd5f;
    }
} */

/* @media screen and (min-width: 776px){
    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .bubbles{
        position: relative;
        display: flex;
    }
    .bubbles span{
        position: relative;
        width: 20px;
        height: 20px;
        background: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 7px #4fc3dc40,
        0 0 33px #4fc3fc,
        0 0 67px #4fc3dc;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
    }
    .bubbles span:nth-child(2n){
        background: #ff2d75;
        box-shadow: 0 0 0 7px #ff2d7540,
                    0 0 33px #ff2d75,
                    0 0 67px #ff2d75;
    }
    .bubbles span:nth-child(3n){
        background: #edfd5f;
        box-shadow: 0 0 0 7px #edfd5f40,
                    0 0 33px #edfd5f,
                    0 0 67px #edfd5f;
    }
} */

/* @media screen and (min-width: 576px){
    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .bubbles{
        position: relative;
        display: flex;
    }
    .bubbles span{
        position: relative;
        width: 15px;
        height: 15px;
        background: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #4fc3dc40,
        0 0 25px #4fc3fc,
        0 0 50px #4fc3dc;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
    }
    .bubbles span:nth-child(2n){
        background: #ff2d75;
        box-shadow: 0 0 0 5px #ff2d7540,
                    0 0 25px #ff2d75,
                    0 0 50px #ff2d75;
    }
    .bubbles span:nth-child(3n){
        background: #edfd5f;
        box-shadow: 0 0 0 5px #edfd5f40,
                    0 0 25px #edfd5f,
                    0 0 50px #edfd5f;
    }
}*/

/* @media screen and (max-width: 320px){
    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .bubbles{
        position: relative;
        display: flex;
    }
    .bubbles span{
        position: relative;
        width: 2%;
        height: 11px;
        background: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 3px #4fc3dc40,
        0 0 17px #4fc3fc,
        0 0 67px #4fc3dc;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
    }
    .bubbles span:nth-child(2n){
        background: #ff2d75;
        box-shadow: 0 0 0 3px #ff2d7540,
                    0 0 17px #ff2d75,
                    0 0 67px #ff2d75;
    }
    .bubbles span:nth-child(3n){
        background: #edfd5f;
        box-shadow: 0 0 0 3px #edfd5f40,
                    0 0 17px #edfd5f,
                    0 0 67px #edfd5f;
    }
}  */